.FutureScreen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
  min-height: 700px;
}

.FutureContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1080px;
  margin: 0 10%;
}

.FutureImageBox {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: -50px;
}

.FutureMainImage {
  width: 600px;
  height: auto;
}

.FutureTextBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  min-width: 300px;
}

.FutureTextTitle {
  margin: 0px;
  font-size: 40px;
  line-height: 1.25;
  color: #1d3855;
  text-align: left;
  font-family: 'Lato-Black';
}

.FutureTextDescription {
  margin: 8px 0px 0px 0px;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #556f86;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: 'Lato-Bold';
}

.FutureTextItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 25px;
}

.FutureTextItemImage {
  height: 50px;
  width: 50px;
  margin-right: 25px;
  align-self: flex-start;
  margin-top: 10px;
}

.FutureTextItemTextContainer {
  flex: 1;
  margin-top: 10px;
}

.FutureTextItemTitle {
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #438af1;
  margin: 0px;
  font-family: 'Lato-Bold';
}

.FutureTextItemDescription {
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  color: #6E737A;
  margin: 5px 0px 0px 0px;
}

{/* MOBILE LAYOUT */}

@media (max-width: 1023px) {

  .FutureScreen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: auto;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 50px 0;
  }

  .FutureContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
  }

  .FutureImageBox {
    flex: auto;
    align-self: center;
    margin: 30px 0 0 0;
  }

  .FutureMainImage {
    width: 350px;
    height: auto;
  }

  .FutureTextBox {
    flex: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0 7%;
    min-width: 0;
  }

  .FutureTextTitle {
    font-size: 36px;
    line-height: 1.25;
    color: #1d3855;
    text-align: left;
    font-family: 'Lato-Black';
  }

  .FutureTextDescription {
    margin: 10px 0 0 0;
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    color: #556f86;
    font-family: 'Lato-Bold';
    max-width: 500px;
  }

  .FutureTextItemImage {
    height: 50px;
    width: 50px;
    margin: 10px 25px 0 0;
    margin-right: 25px;
    align-self: flex-start;
  }

  .FutureTextItemDescription {
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    color: #6E737A;
    margin: 5px 0px 0px 0px;
    max-width: 420px;
  }

}

{/* HUGE  LAYOUT */}

@media (min-width: 1550px) {

  .FutureContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1224px;
    margin: 0 10%;
  }

  .FutureMainImage {
    width: 700px;
    height: auto;
  }

  .FutureTextBox {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    min-width: 300px;
  }

  .FutureTextTitle {
    margin: 0px;
    font-size: 44px;
    line-height: 1.25;
    color: #1d3855;
    text-align: left;
    font-family: 'Lato-Black';
  }

  .FutureTextDescription {
    margin: 20px 0px 0px 0px;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    color: #556f86;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: 'Lato-Bold';
  }

  .FutureTextItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 25px;
  }

  .FutureTextItemImage {
    height: 64px;
    width: 64px;
    margin-right: 25px;
  }

  .FutureTextItemTextContainer {
    flex: 1;
    margin-top: 16px;
  }

  .FutureTextItemTitle {
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    color: #438af1;
    margin: 0px;
    font-family: 'Lato-Bold';
  }

  .FutureTextItemDescription {
    font-size: 15px;
    line-height: 1.5;
    text-align: left;
    color: #6E737A;
    margin: 5px 0px 0px 0px;
  }

}
